//$primaryColor: #02113d;
$primaryColor: #949090;
//$secondaryColor: #415A77;
$secondaryColor: #EAD94C;
$secondaryColorLight: #5a6470;
$thirdColor: #a1b4f8; 
$thirdColorLight: #c8cfeb;
$bodyColor: #DBDBDB;
